[2020-07-17 07:57] colindaven opened #1 "compiling - pthreads and usage of -s parameter"
Hi,

when compiling on Ubuntu 20.04, I'm not sure if pthreads were found or not ? At least, the test failed, but threads were found? Correct ? Is this to be expected ?

Thanks.
[code]

[2020-07-17 08:08] GuillaumeHolley commented on #1
Hey @colindaven,

I think this is rather normal: If Cmake had failed, the build files wouldn't have been generated at the end. The only way to know for sure is to compile the program after that with "make". If Pthread is missing, surely the linking step will fail or will tell you that some .so file is missing if you run "Ratatosk --help". Otherwise, you are good to go.

Guillaume

[2020-07-17 08:17] colindaven commented on #1
Looks good, working so far. Thanks.

One further question - are illumina paired end reads supported, or do you just use read 1, or do you use a read combiner like flash to get combined single reads from pairs ?

Thanks

[2020-07-17 08:21] GuillaumeHolley commented on #1
Illumina paired end reads are supported and the correction strongly benefit from the pairing (compared to reads which are not paired-end).
Mates from the same pair can be in the same input file or different ones, they just to need to have the same FASTA/FASTQ record title to be "recognized" as being from the same pair.

[2020-07-17 08:24] colindaven commented on #1
Thanks, so will this pick them up (both R1 and R2 under -s param with full paths ?
srun -c 56 /mnt/ngsnfs/tools/Ratatosk/build/src/Ratatosk -s /lager2/rcug/2017/922E/iddm_R1.fastq.gz /lager2/rcug/2017/922E/iddm_R2.fastq.gz -l ../iddm_30kbp_3325_comb.fastq.gz -c 56 -o iddm_corr_ratatosk.fastq -v

Or is just specifying the R1 better ?

srun -c 56 /mnt/ngsnfs/tools/Ratatosk/build/src/Ratatosk -s /lag

[2020-07-17 09:04] GuillaumeHolley commented on #1
Use two times `-s`, e.g:
`srun -c 56 /mnt/ngsnfs/tools/Ratatosk/build/src/Ratatosk -s /lager2/rcug/2017/922E/iddm_R1.fastq.gz -s /lager2/rcug/2017/922E/iddm_R2.fastq.gz -l ../iddm_30kbp_3325_comb.fastq.gz -c 56 -o iddm_corr_ratatosk.fastq -v`

You can input as many input files as you want by using `-s` for each input file. Same applies to `-l`.

[2020-07-17 10:00] #1 closed

[2020-07-21 12:29] phiweger opened #3 "Add explicit sequence anchoring subcommand"
It would be really cool if you could add a subcommand that simply returns the path a genome/ long read takes through the graph (as a sort of graph alignment heuristic). Is that something you can integrate?

[2020-07-21 22:24] GuillaumeHolley commented on #3
Hi @phiweger

It is something possible to integrate but it would take some time to do and we have a couple of ideas that we would like to prioritize for future versions. Do you have a specific use case in mind?
A simple thing to do is to use Bifrost to build the graph from the short reads and query the graph with the corrected long reads. That would already give you which k-mers of the corrected l

[2020-07-22 05:28] phiweger commented on #3
I want to implement kmer indexing using bifrost -- there the idea (Dilthey et al.) is to sequence barcoded isolates using Illumina, build the assembly graph for each isolate, and then bin unbarcoded Nanopore reads from the same isolates to their respective barcode by "aligning" them to either one of those graphs (this saves ligase which is an important cost factor in the Nanopore protocol).

How w

[2020-07-22 10:01] GuillaumeHolley commented on #3
Very interesting! It seems to me you would need to build the colored de Bruijn graph of the barcoded Illumina isolates using Bifrost, one color for each barcode/isolate. By using `bifrost query` with a reasonable k-mer ratio, the tool with already tell you for each ONT read in which color (barcode/isolate) you reads "align" to. Since you would run this from uncorrected ONT reads, I would even advi

[2020-07-22 14:47] bstamps opened #4 "Make fails in MacOS Catalina"
Hello,

I'm having some issues during the compilation of Ratatosk in MacOS Catalina. Running make results in the below error

[code]
All the requirements should be/are installed, so any help is appreciated!

[2020-07-22 15:13] GuillaumeHolley commented on #4
Hi @bstamps

Thank you for reporting this issue. I think I found the problem and just pushed a fix for it. Unfortunately, I do not have a Macbook at hand to test if it solves the issue. Let me know if it works for you.

Guillaume

[2020-07-22 15:41] bstamps commented on #4
Hey @GuillaumeHolley

I can confirm that your fix works. Ratatosk now builds and installs correctly under Catalina.

Thank you!

[2020-07-22 15:41] #4 closed

[2020-07-22 18:47] phiweger commented on #3
thanks a lot, that gets me started. w/ API you mean the C++ one? I read in some issue that there are (unofficial) Python bindings?

[2020-07-22 19:00] GuillaumeHolley commented on #3
By API, I mean the C++ one indeed. Lucas van Dijk has been making a fantastic work on the python bindings for Bifrost (https://github.com/broadinstitute/pyfrost) but I think the project is still in its early stages. I'm not sure how ready it is and how many of the Bifrost functionalities are available so if Python is essential here, better ask Lucas himself before getting started. Otherwise, I wou

[2020-07-22 19:25] phiweger commented on #3
ok thanks again! I tried pyfrost but there are still some issues concerning installation and basic operations so for now I'll try the C++ API :)

[2020-07-22 21:00] #3 closed

[2020-07-24 14:41] husamia opened #5 "Docker"
does it work as a docker image?

[2020-07-24 15:22] GuillaumeHolley commented on #5
I haven't tried it so I don't know. But I don't see any reason why it wouldn't work in a Docker image.

[2020-07-27 14:52] GuillaumeHolley commented on #5
Let me know if you need any additional information. In the meantime, I am closing this issue.

[2020-07-27 14:52] #5 closed

[2020-07-31 08:14] jelber2 opened #6 "Is it possible to add option to split uncorrected regions instead of "trimming" them?"
Hi,

I have to confess that I have only used `Ratatosk` once, but I was just thinking about the option for "trimming". The program `GraphAligner` (https://github.com/maickrau/GraphAligner) offers something where instead of trimming off the low quality or uncorrected bases/regions that it can "clip" the long reads into say parts (if I understand it correctly with the `GraphAligner` option `--correc

[2020-07-31 09:56] GuillaumeHolley commented on #6
Hi @jelber2,

Could you be more specific into what the clipping is? I couldn't find any description of the option `--corrected-clipped-out` on the GitHub repo of GraphAligner. My guess is replacing the uncorrected bases with Ns or using upper/lower case characters to distinguish corrected/uncorrected bases.

[2020-07-31 10:19] jelber2 commented on #6
Yes, you are correct that the current README.md (https://github.com/maickrau/GraphAligner/blob/7644b5dd19788501e7de855b8eb9fd5f52e1359c/README.md) doesn't have this information. I saw it at https://www.biorxiv.org/content/10.1101/810812v1.full.pdf+html

    Our pipeline has two modes:
    either we output the full reads, keeping uncorrected areas as is; or clipped reads,
    which remove the uncor

[2020-07-31 10:48] GuillaumeHolley commented on #6
Hey @jelber2,

I actually think there was a mix up in the way I named this option in Ratatosk. If you use the trimming option (currently), it is going to split the reads into multiple smaller reads by removing the uncorrected bases from the reads. It will not only trim the beginning and end of the read. So right now, `-t` in Ratatosk is the same as `--corrected-clipped-out` in GraphAligner. I will

[2020-07-31 10:58] jelber2 commented on #6
Well, I could be wrong about the read length part. I haven’t systematically tested that.

[2020-07-31 11:09] jelber2 commented on #6
Is it possible to allow users a choice in different k-mer lengths than the default k=63? Also, have you tried Ratatosk on PacBio CLR reads? Sorry for the additional question.

[2020-07-31 12:32] GuillaumeHolley commented on #6
No worries.

I can provide an option to play with different k-mer sizes. Ratatosk uses two k-mer sizes for each of the two correction rounds such that k2 >= 2 * k1. By default, k1 = 31 and k2 = 63 in Ratatosk. So if you want to change one k-mer size, you will have to change the other as well.

I never tried Ratatosk on PacBio CLR but I was recently in touch with a couple of people trying out Ratat

[2020-08-02 03:50] jelber2 commented on #6
Okay. If say KmerGenie suggests using a k=50 for “optimum” de novo assembly of short reads, would you still recommend using a k1=50 even though k2=101?

[2020-08-02 04:11] jelber2 opened #7 "Understanding the -u option (different individuals than -s possible?)"
Hi,

I was wondering about the `-u` option for `Ratatosk`. From the README it says

    Ratatosk might use for the correction some unmapped short reads
    (-u unmapped_short_reads.fastq) which are missing in the input subset (-s).

I sort of had an interesting idea regarding using this option to increase coverage, but at the same time might be disastrous. Specifically, I have 5 individuals with w

[2020-08-03 19:52] GuillaumeHolley commented on #6
I think this is too long. The thing is that the size _k_ use to build the unitigs of the graph is also the size of anchors between the graph and the long reads before correction. So while a longer _k_ seems to be a good idea to increase unitig contiguity, it also means less exact k-mer matches between the graph and the long reads due to the high error rate of these reads. Better sequencing chemist

[2020-08-03 20:00] GuillaumeHolley commented on #7
That's a risky experiment and I doubt that the outcome would be any good. For sure your error rate will drop significantly but all your variants will be messed up in the corrected reads. If you really want to try this experiment, I am not even sure how the usage of `-u` would help. Since your individuals are not related, it doesn't matter which individuals goes into `-s` or `-u`: just dump all of

[2020-08-04 07:15] jelber2 commented on #6
Okay, thank you. I didn't think about the k-mer matches between the graph and the long reads.

[2020-08-04 07:24] jelber2 commented on #7
Thank you. I didn't think it would work but was mainly curious of your thoughts.

[2020-08-04 07:24] #7 closed

[2020-08-11 11:29] lileiting opened #8 "Is it good to run Ratatosk on multiple long read files separately?"
Hi,

I have four long read files. I am running Ratatosk (not reference-guided mode) on these four files but it has taken too long to finish running. I am wondering if I run Ratatosk for the four long read files separately in four computers (four nodes of a cluster), would the results be the same as in one machine? Furthermore, can I split the long reads into N parts and run Ratatosk for each part

[2020-08-11 11:50] GuillaumeHolley commented on #8
Hi @lileiting,

Unfortunately no, the result won't be the same but there are two solutions to this problem (well, one and a half). Let me explain the issue here. Ratatosk has two correction passes and in the second correction pass, the long reads corrected by the first pass are "mapped" to the graph built from the input short reads. If you do N separate corrections, one for each of your input long

[2020-08-11 14:56] sbultmann opened #9 "Found 0 unique k-mers"
Hi,
I am runng Ratatosk with
`Ratatosk -v -c 16 -s another.fastq.gz -l ../Nanopore/all_reads.fq -o all_reads_Ratatosk`
my `another.fastq.gz` is a sample of the first 1000 reads but the problem is the exact same when I run it with the full data set.

Here is the output of Ratatosk:
[code]
My short read fastq file looks like this:
[code]

the nanopore reads look like this:
[code]
Any idea what could

[2020-08-11 16:55] GuillaumeHolley commented on #9
Hi @sbultmann,

The problem here is that your input short reads are too short. More specifically, Ratatosk builds a first compacted de Bruijn graph with the 63-mers of the input short reads and then, it uses the unitigs of that graph to build a second compacted de Bruijn graph with 31-mers. Since your short reads are 51 bp long, the first graph ends up being empty (because none of the reads contai

[2020-08-11 17:54] sbultmann commented on #9
Hi @GuillaumeHolley,

hmm. You are right these are quite short but I thinks thats only the first few.
this is the general overview about the nanopore seq run:
[code]

do I have to remove the short reads?

the short reads I use for the option `-s` are standard 50bp PE illumina reads.

[2020-08-11 18:40] GuillaumeHolley commented on #9
Hi @sbultmann,

Your Nanopore run stats look just fine but the long reads are not the issue here, the short reads are. And unfortunately, Ratatosk is a hybrid correction tool: it won't work without short reads in input. What's your short read coverage? I've never seen 50 bp Illumina reads before, not for DNA sequencing at least. However, 50 bp and 75 bp PE Illumina reads are more common for RNA se

[2020-08-11 21:07] sbultmann commented on #9
Hi @GuillaumeHolley,

thanks for your quick reply. I wasn't aware that you need at least 63pb long reads. Is this mentioned in your biorxiv? This is DNA-seq and we frequently use 50pb PE for this. Is there a reason why it would work with 50bp? longer reads are helpful to increase coverage of course but are there any reasons why 50 kmers are a bad idea. I have around 440 mio paired reads which shou

[2020-08-12 02:20] lileiting commented on #8
Hi Guillaume,

Thank you for your quick reply. I am de novo assembling the genome. So, I do not have a high quality reference right now. I will keep waiting, hope it could finish in a few days.

Leiting

[2020-08-12 02:20] #8 closed

[2020-08-12 08:25] jelber2 commented on #6
Okay, based on #8, it seems that you are using k=31 for exact k-mer matches of long reads to graph and k=63 for de novo assembly of the graph.

[2020-08-12 08:25] #6 closed

[2020-08-12 08:58] GuillaumeHolley commented on #9
Hi @sbultmann ,

If you look at the preprint in Appendix A, we have all the default parameters of Ratatosk. In this section, you can see that the k-mer size k2 is 63 which implicitly requires that you reads are at least 63 bp long. Now, as I said before, I can provide an option in Ratatosk to change the k-mer size k2 and you could set it to 50, meaning the k-mer size will be your read length. This

[2020-08-12 09:01] GuillaumeHolley commented on #6
Hey @jelber2,

Sorry about the delay, I somehow missed your previous message. Indeed, I use k=31 for the first correction pass and k2=63 for the second correction pass (graph construction + anchoring). Using 63-mers for anchoring during the second correction pass is only possible because the first correction pass already lowered down the error rate quite significantly.

[2020-08-12 09:32] lyrk50 opened #10 "Resume from the last completed stage"
Hi,
When I use the Ratatosk ,it may have terminated prematurely because out of RAM. The output is Ratatosk_sr.fasta and Ratatosk2.fasta. Is there any way to resume from the last completed stage?
lynn

[2020-08-12 09:37] GuillaumeHolley commented on #10
Hi @lyrk50 ,

Unfortunately no, this is not possible  at the moment.

Guillaume

[2020-08-12 20:09] dabitz opened #11 "Corrected reads as good as Hifi reads?"
Hi,

Thanks for the nice tool. I currently correcting ONT and Pacbio raw reads using illumina short reads and HiFi reads. Do you know whether I can use the corrected reads as input for hifi assemblers like Hicanu and Hifiasm?

Thanks
André

[2020-08-12 20:21] #10 closed

[2020-08-12 20:56] GuillaumeHolley commented on #11
Hi @dabitz,

I never tried myself to assemble Ratatosk corrected reads using HiCanu or Hifiasm. However, someone has been assembling Ratatosk corrected PacBio reads using Flye in the `--pacbio-hifi` mode and he was very satisfied of the assembly. So I would say that it is probably worth a shot.

Guillaume

[2020-08-12 21:00] dabitz commented on #11
Hi @GuillaumeHolley
Thanks a lot. I will try and see how it performs. I will get back to this post later on...

Cheers
André

[2020-08-13 19:49] GuillaumeHolley commented on #9
Hey @sbultmann,

I am closing the issue. I think right now, there is not much that can be done with your short read length and coverage. Let me know if you are interested by k-mer size option.

Guillaume

[2020-08-13 19:49] #9 closed

[2020-08-16 06:43] lileiting commented on #11
Hi GuillaumeHolley,

In your paper, which option you used for `flye` for the Ratatosk corrected reads, `--pacbio-raw` or `--pacbio-corr`?

I have assembled the pacbio raw reads with `flye --pacbio-raw` and the Ratatosk corrected reads with `flye --pacbio-corr`. But I found the latter was not better than the former. For the raw reads with `flye --pacbio-raw`, I got N50 of 4.5 Mb and max contig leng

[2020-08-16 11:16] GuillaumeHolley commented on #11
Hi @lileiting,

In the preprint we assembled our Ratatosk corrected reads with `--pacbio-corr` but as said previously, some people reported on Twitter they had been using `--pacbio-hifi` for their genome assembly of Ratatosk reads and they were very satisfied with it.

Now, I have never tried Ratatosk on plant genome reads so there is a possibility that Ratatosk does not perform well on those, alt

[2020-08-20 22:58] #11 closed

[2020-09-08 10:38] HenrivdGeest opened #12 "adjustable kmer size"
I am using quite long illumina-quality like reads for a plant genome as the short reads input. However the correction on whole genome scale does not work accurate enough to really make a difference. My long reads are corrected only partially. One thing I am thinking is that since my short reads are quite large, upto a kilobase, and therefore the debruijn graph could be build using larger kmer size

[2020-09-08 13:53] GuillaumeHolley commented on #12
Hi @HenrivdGeest,

Providing advanced options to modify _k1_ and _k2_ individually would not be an issue. Something to consider is that the size of the _k_-mer used to build the graph is also the size of the matches between the graph and the long reads. So if you would pick _k1_>31, this would definitely increase the contiguity of the graph on the first correction pass but it would decrease the pr

[2020-09-08 17:54] HenrivdGeest commented on #12
Hi, thanks, I think both options would be nice. I do like your suggestion on doing it with a 2 pass, to circumvent that reads might be missed in the first pass. I would disable trimming for the first pass(es) and enable it for the last pass. I need to enable it because I see many chimeric long reads in my set, which really hamper the assembler (hifiasm)
Another thing, my short read data is single

[2020-09-09 10:08] jelber2 commented on #12
You might be interested in this: https://github.com/chhylp123/hifiasm/issues/33

Also, BBMap/BBTools (https://sourceforge.net/projects/bbmap/) has a chimeric read detector called icecreamfinder.sh that might help (not sure).

[2020-09-09 10:45] GuillaumeHolley commented on #12
Alright, I'm going to work on that today and hopefully, it will be available by the end of the day. Regarding the length of your "short" reads, Ratatosk considers paired-end reads as well as single end reads so I would definitely keep your short reads the way they are for better contiguity and color information in the graph. In the README file, I'm writing that Ratatosk works best with paired-end

[2020-09-10 17:01] GuillaumeHolley commented on #12
Hi @HenrivdGeest and @jelber2 ,

I have pushed a new version of Ratatosk that comes with a few new advanced options. As we discussed, there are 3 options of interest for you:
[code]

In your case, I would use `-i 1000` and set `-k/-K` with whatever lengths you want to play with. If you want to use  `-k/-K` larger than 63, you need to recompile Ratatosk with an extra compile option. It's very easy

[2020-09-10 17:12] GuillaumeHolley commented on #9
Just in case, the k-mer size option as been implemented (see README).

[2020-09-11 06:19] jelber2 commented on #12
@GuillaumeHolley great! I look forward to comparing `--k1 31` and `--k1 41` and its impact on assemblies!

[2020-09-11 09:04] GuillaumeHolley commented on #12
Let me know how it goes :)

[2020-09-13 06:01] jelber2 commented on #12
Comparison of simulated PacBio CLR reads corrected with Illumina for a Drosophila melanogaster genome assembly (haploid assembly "converted" to diploid with ~2% heterozygosity).
Using Ratatosk commit 9e247317

    # Use Drosophila melongaster PacBio assembly
    cd /genetics/elbers/test/fly2
    wget https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/003/401/745/GCA_003401745.1_ASM340174v1/GCA_003401745

[2020-09-13 15:28] GuillaumeHolley commented on #12
Thanks for your experiments @jelber2!

[2020-09-13 17:06] jelber2 commented on #12
You are welcome!

[2020-09-15 10:32] jelber2 commented on #12
Here is another iteration of polishing with first `--k1 31`, then `--k1 41`, and finally `--k1 45`

    # Ratatosk correction of Ratatosk corrected k=31 then Ratatosk corrected with
    # k=41 and now initial k=45
    /genetics/elbers/bin/Ratatosk/build/src/Ratatosk -v --k1 45 -c 75 \
    -s illumina1.fastq.gz -s illumina2.fastq.gz -l ratatosk.k31.k41.pacbio.fasta \
    -o ratatosk.k31.k41.k45.pac

[2020-09-15 11:15] GuillaumeHolley commented on #12
Thanks @jelber2. Seems like the 3-rounds Ratatosk correction (k=31/41/45) is doing well.

[2020-09-15 11:37] jelber2 commented on #12
Yeah, it seems like (and this likely assembly/individual-specific), that one could find some optimum choice of iterative `--k1` values to approximate something like HiFi reads.

[2020-09-15 17:47] HenrivdGeest commented on #12
I also played with different kmer sizes. I found that for bigger than 63 kmers I need to use a different binary, it cannot run both the small and big kmers. So for k31/k64 I use the default binary of Ratatosk, and for a k61/k95 I use te recompiled Ratatosk version.
After 4 iterations of increasing kmer lengths, I can see that it does improve a bit on quality. Although in my case it seems a minor g

[2020-09-15 18:48] GuillaumeHolley commented on #12
Hi @HenrivdGeest,

As mentioned earlier, you indeed need to recompile Ratatosk to use a k-mer size larger than 63. However, you shouldn't have to use two different binaries: if you recompile Ratatosk for k=95, all k-mer length smaller or equal to 95 should be available in the binary. Regarding the error rate, Ratatosk is rather conservative in its correction: if the subsequences to correct are too

[2020-09-15 18:49] #12 closed

[2020-09-15 19:01] GuillaumeHolley commented on #12
Maybe one last thing to try @HenrivdGeest would be smaller k1/k2-mers for the initial Ratatosk run: maybe 25/45? That would increase the number of matches between the graph and the long reads but decrease the contiguity of the graph. It might actually be beneficial in your case.

[2020-09-17 03:13] flystar233 opened #13 "Wrong parameter -i"
Should use -s short_reads.fastq parameter instead of -i short_reads.fastq in de novo correction of Readme

[2020-09-17 07:25] HenrivdGeest commented on #12
This is what I tried:
phase=4;
/home/geest/bin/Ratatosk_k64 -s short.fasta -l long_with_errors.fasta a -c 128 -o phase1${phase} --verbose --insert_sz 1000 --k1 21 --k2 51;
/home/geest/bin/Ratatosk_k64 -s short -l phase1${phase}.fasta -c 64 -o phase2${phase} --verbose --insert_sz 1000 --k1 51 --k2 63 ;
/home/geest/bin/Ratatosk_k96 -s short  -l phase2${phase}.fasta -c 32 -o phase3${phase} --verbose

[2020-09-17 08:57] GuillaumeHolley commented on #13
Yes indeed, good catch. Will fix that right now. Thanks!

[2020-09-17 08:57] #13 closed

[2020-09-21 00:23] rahulvrane opened #14 "Feature request: Reference guided correction - locally"
Hi
I was wondering if we are able to run ref guided correction locally. I do have access to required CPU #'s and RAM on 1 single machine..

Thanks a ton
Cheers

[2020-09-21 10:38] philres commented on #14
I second that. Would be great to have that!

[2020-09-21 10:39] philres commented on #14
Also, would be happy to do some testing if that'd help.

[2020-09-21 12:35] GuillaumeHolley commented on #14
Sure, I will try to make something with GNU Parallel :) I'll keep the issue open until this is online.

[2020-09-21 13:05] philres commented on #14
Nice, thanks!

On Mon, 21 Sep 2020, 13:35 Guillaume Holley, <notifications@github.com>
wrote:

[2020-09-21 18:52] fenderglass opened #15 "Excessive memory usage on a small diploid genome"
Hi!

I am trying to run Ratatosk on a diploid arabidopsis genome from the FALCON paper: https://www.nature.com/articles/nmeth.4035. Haploid genome size is ~140 Mb, and heterozygosity rate is ~1%. There is ~9 Gb of Illumina reads and ~22 Gb of PacBio reads.

I am using the latest github code from the master branch with all-default options (30 threads). It seems that de Bruijn graph was build succes

[2020-09-21 19:03] GuillaumeHolley commented on #15
Hi @fenderglass,

Thank you for opening this issue and providing all the details. This is definitely not expected behavior but I'm not sure right now to see why this is happening. Since the correction process has started, I'm assuming that somehow, each thread happens to be storing too much information regarding the graph traversal. Since the data are in the paper, I will run it tomorrow and figur

[2020-09-22 04:05] fenderglass commented on #15
@GuillaumeHolley thanks! Here is the link to the data just in case: https://www.ncbi.nlm.nih.gov/sra?LinkName=biosample_sra&from_uid=4539663. Illumina is easy to download, but PacBio is tricky because there are many separate runs that also need to be converted from .h5 to .fastq. To save your time, here are the converted PacBio reads that I've been using: https://drive.google.com/file/d/1ZSFHo1UFN

[2020-09-24 15:33] GuillaumeHolley commented on #15
Hi @fenderglass,

Quick update: I have identified the problem and made a fix for it. It might take a few days to run some tests and make sure it does not hurt the performance but otherwise, we should be good to go :) I am currently looking at 11-12 GB of RAM for your particular input data sets.

[2020-09-24 17:01] fenderglass commented on #15
@GuillaumeHolley thanks a lot for the quick response! Hope to give it a try soon!

[2020-10-01 11:00] GuillaumeHolley commented on #14
Hi @rahulvrane and @philres ,

I just pushed a script to run Ratatosk with the reference-guiding on a single-machine (turns out that GNU Parallel wasn't needed after all). README was updated. It works but hasn't been tested thoroughly so I would appreciate any feedbacks and suggestions.

Guillaume

[2020-10-01 11:02] GuillaumeHolley commented on #14
Also, I'll be pushing the v0.3 of Ratatosk next week. It comes with a new key feature for the reference-guiding that I'll keep as a surprise for now :)

[2020-10-01 11:14] philres commented on #14
Awesome, thanks will give it a go!

Philipp

On Thu, 1 Oct 2020, 12:02 Guillaume Holley, <notifications@github.com>
wrote:

[2020-10-05 01:31] rahulvrane commented on #14
Epic - thanks for that! I'll give this a swirl and keenly await 0.3!
Cheers
Rahul

[2020-10-05 17:21] GuillaumeHolley commented on #15
Hi @fenderglass,

Sorry for the delay. I just pushed Ratatosk 0.3.0 which should solve your issue. Let me know if this works for you.

Guillaume

[2020-10-06 12:49] jelber2 opened #16 "Ratatosk in de novo or reference mode"
Hi,

If one de novo assembles paired-end Illumina reads with say ABySS and then uses Ratatosk on the ABySS assembly as a reference, does this equate to a faster but perhaps less accurate de novo Ratatosk method?

[2020-10-06 13:10] GuillaumeHolley commented on #16
Hello @jelber2,

As far as I remember, ABySS produces (like many assemblers) mixed-haplotype assemblies so by doing this, Ratatosk will produce reads which are also mixed-haplotypes.

Also, Ratatosk was designed specifically for short reads in input. First step of the graph construction is to remove all k-mers with less than 2 occurrences in the input data sets so it wouldn't work with an assembly

[2020-10-06 13:30] jelber2 commented on #16
Perhaps I don’t understand the usage of the  Ratatosk_SingleNode.sh script? That would be used if one has a good quality reference before hand and short and long reads from the individual as the reference?

[2020-10-06 13:43] GuillaumeHolley commented on #16
My apologies, I misunderstood your initial question and thought you wanted to replace the input short reads with an assembly. Now that I understand correctly your question, I'm still not sure it would work great. Or maybe not "better" than using a reference genome, very likely not faster. The problem is that your short read assembly would have short N50, a fragmented assembly basically. In such ca

[2020-10-06 13:46] jelber2 commented on #16
Ok. This makes sense to me.

[2020-10-06 13:46] #16 closed

[2020-10-09 05:25] jo-mc opened #17 "checkpointing / breaking up job"
I am attempting to run correction on human Genome, on the university HPC, however our run times are limited to maximum 3 days. Is there a way to configure to run in batches? Our HPC supports checkpointing - and am looking into if this is possible - which saves state of job and resumes.. (I have requested extra time but could be in for a long wait) I have 150G nanopore reads and 240G of illumina re

[2020-10-15 10:44] GuillaumeHolley commented on #17
Hi @jo-mc,

First of all, I apologize for the delay of my answer. For some reasons, I didn't see your questionright away.

For now, it is not possible to run Ratatosk in batches. In the current reference-guided SLURM script I provide, small bin corrections require 2 days wall-clock time but in reality, I expect them to take no more than half a day (for a human genome 50x coverage ONT and 60x cover

[2020-10-15 10:44] GuillaumeHolley commented on #15
Closing the issue. Let me know if something doesn't work and I will reopen it.

[2020-10-15 10:44] #15 closed

[2020-10-15 10:44] #14 closed

[2020-10-16 05:34] jo-mc commented on #17
thanks, looking into it.

just not sure on how to get slurm to checkpoint after first pass (have not
used checkpoint before, I thought it could only be done by time me) I have
asked our hpc team for advice.

Joe.

On Thu, 15 Oct 2020, 9:14 pm Guillaume Holley, <notifications@github.com>
wrote:

[2020-10-16 16:36] fenderglass commented on #15
@GuillaumeHolley thanks a lot for looking into this! Ratatosk has just finished on my dataset - seems that everything worked fine (took about 1500 CPU hours).

[2020-11-09 14:12] GuillaumeHolley commented on #17
Hi @jo-mc,

Just to let you know that the new version of Ratatosk to come will include the possibility to run the 1st and 2nd correction passes separately. So if you run out of time during the 2nd correction pass, you can restart the 2nd correction pass from the output of the 1st correction pass.

[2020-11-10 18:28] andreaswallberg opened #18 "Corrected PromethION reads are extremely short"
Dear developers,

We have ~30x coverage of Nanopore PromethION data from a heterozygous invertebrate with a large genome (18Gbp). We also have approximately 30-40x coverage of 10X Chromium Illumina short linked-reads. We ran a round of error correction on a large compute node with >4TB RAM and 168 cores. Our original Nanopore reads (84 million; 600Gbp) have an N50 of about 12 kbp and 72% have Q>8,

[2020-11-11 09:40] GuillaumeHolley commented on #18
Dear @andreaswallberg,

Thank you for opening this issue and providing all the details of your experiment.

At the moment I have no idea of what happened, this has never happened before but I am sure this is nothing we cannot fix. What is very troubling in this case is not only the extremely short N50 but also the fact that you do not have in output the same number of reads as in input. Since your

[2020-11-12 10:40] andreaswallberg commented on #18
Thanks for the rapid feedback!

We are collecting information and will make an update here as soon as possible.

May I ask you to please update the code such that Ratatosk logs to output, the specific input sequence files it opens and reads from? It appears to be the case it has not actually read from all files.

/Andreas

[2020-11-17 10:11] percyfal commented on #18
Hi @GuillaumeHolley ,

I'm working with @andreaswallberg and I have run some of the analyses he references. I have looked some more at the inputs, and I conclude that the short reads actually are correct in number, but the long reads count are 17 times what they should be. My command was the following:

[code]
and this is the log output:
[code]
Are line breaks not allowed in the input sequence fil

[2020-11-17 10:30] percyfal commented on #18
Update: I checked the inputs and the sequences are on single lines, so line breaks does not seem to be the issue.

[2020-11-17 16:21] GuillaumeHolley commented on #18
Hi @percyfal,

Thank you for your input. Your command line seems just fine to me. Line breaks shouldn't be a problem either as they are supported by Ratatosk.
So you are saying that the long reads count is 17x what it should be. Since @andreaswallberg was saying that your input is about 84 million long reads, it means you get something like 1.4 billion long reads in output right? Can you check if

[2020-11-17 17:11] andreaswallberg opened #19 "Advice and request on genome-guided polishing with BAM files"
Dear developers,

We are working on a large dataset (600Gbp / 84 million long-reads and 3 billion short-read pairs) for a large, fragmented and repetitive genome assembly (data described in more detail in issue #18 ), consisting of some couple of hundreds of thousands of contigs/scaffolds and about 83 M unmapped short-reads. Naturally, this is a very difficult genome and dataset.

I am trying out

[2020-11-17 18:52] percyfal commented on #18
The 17X I got from the log file which states "Processed 80269177395 k-mers in 1454260572 reads". Does this log statement refer to input reads or output? I would have assumed the former.

I don't think the output contains duplicated reads:
[code]
vs
[code]
which would indicate unique consecutive ids in the output. In any case, the relation to the input id is lost, but that's maybe to be expected?

[2020-11-19 15:47] GuillaumeHolley commented on #18
The statement `Processed X k-mers in Y reads` does not refer to the input long read data but I understand where the confusion comes from. This statement occurs twice in your log: the first time, it refers to the input *short* read data used for the graph construction (in this statement, one PE read = 2 "reads"). For the second occurrence, it actually does not refer to the input short reads nor the

[2020-11-19 16:28] GuillaumeHolley commented on #19
Dear @andreaswallberg,

1. Yes, I suppose it is possible. I am working on a major refactor of Ratatosk so that feature would probably come with the release of this new Ratatosk version.
2. Ratatosk works on the more or less relaxed assumption that there is **no** short read coverage gap for the region of the genome you are trying to correct. Such a gap usually occurs when correcting a long inserti

[2020-12-02 12:51] GuillaumeHolley commented on #18
Hi @percyfal and @andreaswallberg, any news on this issue?

[2020-12-02 13:11] andreaswallberg commented on #18
Hi @GuillaumeHolley !

We are working on it, trying to figure out what is going on. Since smaller chunks worked well for me using the genome guided approach on a different machine, we are cross-referencing commands and data sources to figure out if there may actually be some hardware architecture issue.

Keep the issue open for the time being.

[2020-12-02 13:30] GuillaumeHolley commented on #18
Thanks for the update.

[2020-12-08 11:39] kokyriakidis opened #20 "UMI reads"
Hi! Is there a chance to make it work using Nanopore reads with UMIs?

[2020-12-09 11:30] GuillaumeHolley commented on #20
Hi @kokyriakidis,

Sorry for the delay. Ratatosk does not support UMIs at the moment (at least it wouldn't consider UMI tags in the correction) but it could be supported in a future version. I have no prior experience with UMIs in Nanopore reads, could you reference some public data sets I could have a look at?

On a side note, if the UMIs are used in a transcriptomic context, Ratatosk definitely

[2020-12-09 12:16] kokyriakidis commented on #20
Hmm, I was thinking about cDNA/dRNA Nanopore data with UMI tags to accurately capture the BCR/TCR receptor sequences (and a way to correct the reads).

Nevermind, thanks so much for the info! You can close this issue and it would be perfect if you can explain in a few sentences why Ratatosk won't work on transcriptomic data, so I keep it mind next time!

[2020-12-11 13:50] HadrienRegue opened #21 "cant get a fastq output"
Hi,

first, thanks for your software!

We have both sr paired end and single long ONT reads, so we want to try Ratatosk for our viral data:)
I've tried this command:
[code]
However I get a fasta output. After reading your documentation, -q option is mandatory to have a fastq output. I've tried the command above with --quality 0 or --quality or without, but the output is the same. Maybe I'm missing

[2020-12-11 14:24] GuillaumeHolley commented on #21
Hi @HadrienRegue,

We are aware of the issue and it will be fixed in the next Ratatosk version for which FASTQ will be the default (and only) output format. In the meantime, could you try `--quality 1`? It means that all output bases with quality 0 are uncorrected bases.

Thanks
Guillaume

[2020-12-11 15:04] GuillaumeHolley commented on #20
Hi @kokyriakidis,

To be honest, I have never tried Ratatosk on cDNA/dRNA Nanopore data so I cannot really say if it is gonna work or not. I think a general issue is that a minimal and maximal coverage is assumed for the Illumina and Nanopore data. To explain this, it is important to know that Ratatosk has 2 correction passes. During the first pass, the graph index is built from Illumina 31-mers a

[2020-12-15 09:21] HadrienRegue commented on #21
Hello again,

thanks to your tips, it seems to be working from now. There is still few barcodes to be proceed, but the corrected ones are indeed in fastq format.

Thanks:)

[2020-12-15 10:10] #20 closed

[2020-12-15 10:10] #21 closed

[2020-12-15 10:11] GuillaumeHolley commented on #18
Hey guys. I'm closing the issue for the moment. Let me know when you get some update on the matter and I will reopen it.

[2020-12-15 10:11] #18 closed

[2020-12-15 10:11] #19 closed

[2021-01-11 14:30] ASLeonard opened #22 "Reference-guided SLURM script errors"
Hi,
I am hoping to use the reference-guided mode of Ratatosk to correct ONT reads. I tried using the new version, but there seem to be some errors.

In line [78](https://github.com/DecodeGenetics/Ratatosk/blob/6818442b3857aa7232fb03e844d6e4fdabbd1f24/scripts/reference_guiding/Ratatosk_SLURM.sh#L78) of the SLURM script, there is a missing `fi` causing an EOF error.

Also in line [226](https://githu

[2021-01-11 21:47] GuillaumeHolley commented on #22
Hi @ASLeonard,

Thanks for letting me know! I pushed a quick fix, can you let me know if this works for you?

Guillaume

[2021-01-12 10:35] ASLeonard commented on #22
Looks like it is working so far.

As a possibly related question, I am modifying the script as I am on an LSF cluster, not slurm. It looks like the `sbatch bin.sh` submission on L252 is a single submission of many many Ratatosk commands. I don't see any slurm array code, so is this meant to be a single job, or can each Ratatosk job be submitted individually?

[2021-01-12 14:04] ASLeonard commented on #22
Also there is a missing **.fa** in either L179 `NAME_SR_UNMAPPED_IN_FILE="${PREFIX_PATH_SEG}/sample_sr_unmapped"` or in L236 `-u ${NAME_SR_UNMAPPED_IN_FILE}`

[2021-01-16 11:06] GuillaumeHolley commented on #22
Hi @ASLeonard,

Thank you for notifying me on the file extension, it has been fixed. To answer your previous question about the `sbatch bin.sh`, the intention was to have each Ratatosk correction job submitted independently with SLURM, which is not what I have achieved here. I will work on a fix for that.

[2021-01-16 11:47] GuillaumeHolley commented on #22
I pushed a quick fix for it which changes the Ratatosk bin corrections to independent job submissions in a job array. Note that an additional parameter `-n` must be now provided to the script and refers to the number of nodes that can be used at a given time. The parameter for the SLURM partition name to use has been changed to `-m`.

[2021-01-16 18:05] ASLeonard commented on #22
Everything seems to be working otherwise, so thanks for updating the scripts so quickly.

I'm actually on an LSF cluster, so I ported the slurm script to snakemake. Some parts still aren't working as smoothly as desired (similar issues to reported snakemake bugs), but I'd be happy to share that when it works more smoothly.

[2021-01-16 18:05] #22 closed

[2021-01-18 11:33] ASLeonard opened #23 "Sharding the second correction pass?"
Since the second correction pass takes significantly more time to finish, I was wondering if this can be split into multiple smaller jobs. It would be far less efficient, but assuming the `dbg.build`, `addCoverage`, and `detectSNPs` were executed using the full set of long reads, would it be possible then iterate over subsets of long reads in the [search algorithm](https://github.com/DecodeGenetic

[2021-01-20 09:46] PetrNguyen opened #24 "short reads for correction"
Hi, I understand that if I am interested in SNPs, I should use both short and long reads for the same individual. But could I use short reads from another individual for purpose of de novo genome assembly? Could ratatosk be used for correcting long reads from pooled DNA samples? And should I somehow preprocessed the short reads prior to correction (trimming, filtering)? Thanks.

[2021-02-10 06:30] jelber2 commented on #14
If one has a lot of bins (say >2000) because the reference genome has a lot of small scaffolds, but scaffold L50 is say ~10 (for a mammalian genome), would you recommend using the GNU Parallel implementation of the local reference guided correction code? I have been running `Ratatosk_SingleNode.sh` from commit 74ca617 with 30 cores, and I think it is about half way done after 1 day of computing. O

[2021-02-10 09:08] jelber2 opened #25 "Reference-guided Ratatosk on Single Node with chromosomes but many unplaced scaffolds - faster with GNU Parallel?"
If one has a lot of bins (say >2000) because the reference genome has a lot of small scaffolds, but scaffold L50 is say ~10 (for a Hi-C chromosome scale mammalian genome with many, small unplaced scaffolds because original assembly was Illumina-based), would you recommend using the GNU Parallel implementation of the local reference guided correction code? I have been running Ratatosk_SingleNode.sh

[2021-02-10 14:46] ASLeonard opened #26 "non-{A,C,G,T} characters appearing in the corrected reads"
Hi,
After finishing the corrected of reference-guided reads, I noticed that many "invalid" characters have been introduced that are problematic for downstream analysis. The only reference I noticed to nonstandard bases is in the readme, where they are not used in correction.

I found some code in Alignment.C where ambiguity is handled, but it isn't clear to me if it is expected that Ratatosk outpu

[2021-02-11 15:08] GuillaumeHolley commented on #26
Hi @ASLeonard,

The latest version of Ratatosk introduces these IUPAC ambiguity symbols when there is uncertainty about what the correction should be in case Ratatosk detects that the corrected sequence contains a SNP candidate. An example is when the raw read has an erroneous deletion where the "real" sequence actually contains a symbol which could be from a SNP. In that case, Ratatosk sees that

[2021-02-11 16:26] ASLeonard commented on #26
Okay, glad to know it isn't something unexpected.

It sounds like the "correction" being applied is essentially inserting a (potentially ambiguous) base to where the raw read had a deletion. Would it then make sense to just remove any ambiguous base, partially undoing the "correction", if the other analyses can't process them? Maybe it would be a decent optional argument to have such behaviour. I

[2021-02-11 17:36] ASLeonard commented on #23
I've been testing this out a bit more, and it sort of appears to work correctly. I was comparing the reads that got corrected before time ran out and reads that had been corrected after sharding, and they were generally the same.

After some more detailed investigating, I tried saving the dbg and graph data in "pass 2a", and then reading the dbg and graph data followed by the actual correction in

[2021-02-12 09:28] GuillaumeHolley commented on #26
I don't think there is an optimal strategy here if you downstream analysis doesn't work with ambiguity symbols. Removing the symbols would be mostly the same as having deletion errors in your read which I guess it not a bad idea.  But instead, I would probably replace the ambiguity symbols with random characters which is what the assembler Flye does. This would be mostly the same as having substit

[2021-02-12 09:43] GuillaumeHolley commented on #25
Hi @jelber2,

The `Ratatosk_SingleNode.sh` script doesn't use GNU Parallel. Instead, each bin is corrected sequentially in this script but each bin correction is done in parallel. Given that you reference genome has a lot of small unplaced scaffold, I would advise against reference-based correction.

[2021-02-12 11:03] ASLeonard commented on #26
I'm already using the reference-guided mode of Ratatosk, so I guess there is read support for an SNP.

The flye suggestion is useful. I'm pretty new to these ambiguity codes, but it seems it should be appropriate to randomly select from the set of possible bases, and maintaining length/alignment for assembly is probably more important and post-polishing may fix it anyway.

[2021-02-12 11:03] #26 closed

[2021-02-12 18:26] jelber2 commented on #25
Ok thanks!

[2021-02-12 18:26] #25 closed

[2021-03-08 14:54] GuillaumeHolley commented on #24
Hi @PetrNguyen,

I apologize for the delay, I missed the notification of your issue. Adapters should definitely be trimmed from the short reads before using them for correction. Filtering is up to you, it depends on what kind of filtering you want to do but I assume something rather minimal would do. When it comes to using short reads from individual A to correct the long reads from individual B,

[2021-03-08 14:54] #24 closed

[2021-03-09 02:53] rivera10 opened #27 "Conda installation"
Hello,

Great tool! Would it be possible to have a Bioconda recipe for Ratatosk? This way it will also trigger the creation of Biocontainers (docker and singularity) that can be integrated in assembly pipelines. Thanks

Best,
Ramon

[2021-03-09 09:06] GuillaumeHolley commented on #27
Hi @rivera10,

I am not very familiar with bioconda in general (I only did one bioconda recipe so far) but I can surely come up with something :) I'll keep the issue open while it is in progress and will let you know here as soon as it is ready.

Guillaume

[2021-03-09 18:32] rivera10 commented on #27
Hello @GuillaumeHolley,

Thanks for the fast answer. For bioconda here is basically what you need.

1- Folk repository
2- Create a directory for `ratatosk` under the recipes directory (i.e. `bioconda-recipes/recipes/ratatosk`)
3- Create file `meta.yaml` (i.e. `bioconda-recipes/recipes/ratatosk/meta.yaml`)
For ratatosk will be like this
[code]

4- Create file `build.sh` (i.e. `bioconda-recipes/reci

[2021-03-14 06:40] jianshu93 opened #28 "Fastq input format for short reads"
Hello Ratatosk Team,

I have short reads in 2 file 01_R1.fastq and 01_R2.fastq for example. How should I offer them to -s ? they have the same fastq sequence name (fastq header) for each sequence except -1 or -2 in the end of the fastq header. I do not see clear explanation.

Thanks,

Jianshu

[2021-03-16 16:17] GuillaumeHolley commented on #28
Hi @jianshu93,

Reads from the same pair must have the same FASTA/FASTQ name to work with Ratatosk (first line of section `Usage` in the README). Hence, you must remove the `-1` or `-2` suffix from your FASTQ record headers. Off the top of my head, the following commands should do the trick:
[code]

Then, you can provide both files as input of Ratatosk using the `-s` argument (hence, `-s 01_R1_Rat

[2021-03-16 20:38] jianshu93 commented on #28
Thank you that's really helpful. I can now run it successfully.

Jianshu

[2021-03-17 08:59] #28 closed

[2021-03-19 09:46] GuillaumeHolley commented on #23
Hi @ASLeonard,

Just to let you know that the next Ratatosk version will include an "index" subcommand to build the index required for one of the correction passes. The "correction" subcommand will either take the previously built index files or the usual raw input files. This will enable de novo correction over multiple machines.

[2021-03-22 09:10] ASLeonard commented on #23
Great news. I hacked something like that together in the current release, but looking forward to the next version.
Thanks!

[2021-03-22 09:10] #23 closed

[2021-06-16 10:03] GuillaumeHolley commented on #17
Hi @jo-mc,

The new version of Ratatosk allows to split the correction in 2 or more steps. All of it is described in the README. Let me know if you have questions or run into troubles with this new version.

Guillaume

[2021-06-16 10:03] #17 closed

[2021-07-05 09:41] jflot opened #29 "Correction Nanopore reads using PacBio HiFi reads?"
Hello, I am thinking to try Ratatosk to correct Nanopore reads using PacBio HiFi reads. Is there any specific setting I should use for that, or can I just input the PacBio HiFi reads as if they were Illumina single reads?

[2021-07-05 15:10] hoelzer opened #30 "Installation typo & Docker"
Hi all,

thanks for the tool! We are currently testing it in the context of a fungi hybrid assembly pipeline w/ various tools/polishers.

One thing I noticed:

[code]

in the README should be

[code]

and we also build a Docker container to easily integrate the tool into a (nextflow) pipeline. If you want to use the Container as well, it's here:

[code]
(I still need to test the container properly

[2021-07-06 06:39] OZTaekOppa opened #31 "Input file format"
Hi,

Thank you for the great program.
Just want to make sure about the input format.
Based on the manual, it is recommended to use Illumina PE reads to correct PacBio or ONT reads.
Given the circumstances, not sure which input file format would be appropriate.
1. Ratatosk correct -v -c 16 -s short_read_R1.fastq  -s short_read_R2.fastq -l long_reads.fastq -o out_long_reads
2. Ratatosk correct -v -c

[2021-07-06 09:09] GuillaumeHolley commented on #29
Hi @jflot,

Thanks for your interest in Ratatosk. As you know, Ratatosk was designed for short reads input and I have never tried it with PacBio Hifi reads. It shouldn't be an issue but some steps might need to be modified/adjusted. For example, some steps during the index construction are specifically designed for short reads so they will probably take longer to run with longer reads.
Anyway, I t

[2021-07-06 09:14] GuillaumeHolley commented on #31
Hi @OZTaekOppa,

Thank you for your interest in Ratatosk. Both suggestions are good and are the same for Ratatosk so use whichever is the most convenient for you. As a short reminder, Ratatosk recognizes mates from the same pair as reads with the same name/title. If the two mates from the same pair do not have exactly the same name/title, they will both be interpreted as two separate single-end re

[2021-07-06 09:14] #31 closed

[2021-07-06 09:19] GuillaumeHolley commented on #30
Hi @hoelzer,

Thank you for the typo (fixed) and the container, that's fantastic work! I'll try to test the container asap but I am mostly working on an air-gapped cluster so containers are a little bit tricky to use for me. We'll see how it goes.
Let me know how Ratatosk works for your assembly/polishing pipeline. As a short note, I am probably gonna push this week a new version that works better

[2021-07-06 09:19] #30 closed

[2021-07-06 11:43] hoelzer commented on #30
Hi @GuillaumeHolley ah that's great to hear! I can then easily set up a new container with that version :)

We also just tested the container in our pipeline: seems to work all fine!

Cheers,
Martin

[2021-07-20 11:45] OZTaekOppa opened #32 "Treated as HiFi or PacBio Raw"
Hi,

I have four more questions.

FYI, a single memory node approach on a PBSpro environment.
module load ratatosk/0.1-foss-2020b
Script: Ratatosk correct -v -c 16 -s /home/SL_Reads_R12All.fq.gz -l /home/SLPBONT1st.fasta -o out_long_RataSLPBONT1st

Q1. Memory issue: I tested a diploid genome (2n=0.7Gb) and took 340 hrs (walltime) with 180G memory and 16 CPUs. Is it normal?

Q2. HiFi or PacBio Raw:

[2021-08-30 14:07] GuillaumeHolley commented on #32
Dear @OZTaekOppa,

I apologize for the delay.

1. Unfortunately, this is probably normal. Memory taken by Ratatosk is proportional to the Illumina coverage while time taken is proportional to the ONT coverage. So even though your genome is only 0.7 Gbp, if the coverage of your input reads is high, Ratatosk will take quite a bit of time to process it all. That being said, I just pushed Ratatosk v0.

[2021-08-30 14:08] #29 closed

[2021-09-01 00:07] #32 closed

[2021-09-18 23:02] gunjanpandey opened #33 "how to create a single short read file"
How to create a single short read file as an input from two  Illumina paired end (trimmed and validated - trimgalore output) files?

[2021-09-21 10:18] GuillaumeHolley commented on #33
Hi @gunjanpandey,

First of all, I wanted to make sure you know you can input your 2 files in Ratatosk without merging them. Just use `-s file1.fastq -s file2.fastq`.

if you still want to merge, the only rule regarding PE-reads is that records from the same pair (in your case, one record in each file) must have exactly the same record name. I imagine here that your 2 files are ordered so in that

[2021-09-24 18:01] gettl008 opened #34 "Installation issue"
I've been using FMLRC but would love to give Ratatosk a go. Unfortunately, I've run into a compiling error.

[ 55%] Building CXX object src/CMakeFiles/Ratatosk.dir/Common.cpp.o
/home/travisan/public/local/soft/Ratatosk/src/Common.cpp: In function 'PairID subsample(const SharedPairID&, size_t)':
/home/travisan/public/local/soft/Ratatosk/src/Common.cpp:347:12: error: 'random_device' is not a member

[2021-09-27 04:52] gunjanpandey commented on #33
Thanks for your reply. Could you please clarify on the point below?

**Ratatosk works best with paired-end short reads in input (-s): reads from the same pair must have the same FASTA/FASTQ name**

Is `-s illu_R1.fastq -s illu_R2.fastq` the right way to provide paired illumina data?

[2021-09-28 15:30] GuillaumeHolley commented on #34
Hi @gettl008,

Sorry about that, I never had this issue before. I suspect the problem is with a missing std library in the file `Common.hpp` which might not be a problem with some compiler versions but it is with others. Unfortunately, I am currently in holidays so I cannot try it myself before next week. If you want to give it a shot, the edit is pretty simple: Insert `#include <random>` on line

[2021-09-28 15:36] GuillaumeHolley commented on #33
Hi @gunjanpandey,

It is exactly what I wrote in my first response:

So yes, `-s illu_R1.fastq -s illu_R2.fastq` should work just fine. Just make sure the first line of each file is *exactly* the same.

[2021-10-01 06:46] sivico26 commented on #34
Hi, sorry if I bother getting in here. I got the same compilation problem that @gettl008.

I tried your suggestion @GuillaumeHolley and it seemed that it work for that part (progress was made). Unfortunately, other compilation problems arose:

[code]

I know nothing about C++, but it came to my mind to try your suggestion on `src/PairID.hpp` as well, and it worked like a charm.

I hope it helps,
C

[2021-10-04 12:38] gettl008 commented on #34
That seems to have done the trick. Thanks @GuillaumeHolley  @sivico26 !

[2021-10-05 14:33] GuillaumeHolley commented on #34
Thank you @gettl008 and @sivico26 for reporting these issues. Fixes have been made to the code. I am closing the issue, feel free to open another one if you encounter any other problem.

[2021-10-05 14:33] #34 closed

[2021-10-05 14:33] #33 closed

[2021-10-12 19:11] asantat commented on #34
I have the same issue too.
I have downloaded fresh repository via git and compiled it.
The message is
`/app/Ratatosk/src/PairID.cpp: In member function 'PairID PairID::subsample(uint64_t) const':
/app/Ratatosk/src/PairID.cpp:1238:14: error: 'random_device' is not a member of 'std'
 1238 |         std::random_device rd; // Seed
      |              ^~~~~~~~~~~~~
...
...
[ 50%] Building CXX object s

[2021-11-09 15:34] Akazhiel commented on #33
Hi @GuillaumeHolley,

When you say **exactly** the same name, does this mean the reads from `file1.fastq` and `file2.fastq` can't end in `/1` and `/2` respectively or the program ignores this?

Best regards,

Jonatan

[2021-11-11 10:07] GuillaumeHolley commented on #33
Hi @Akazhiel,

You are correct: it means that the reads from `file1.fastq` and `file2.fastq` can't end in `/1` and `/2` respectively. I'm probably going to change this in the next version.

Guillaume

[2021-11-19 10:44] Akazhiel opened #35 "Run time estimation"
Hello!

What is the run time estimation for the correction of the long reads? I used the default command for running Ratatosk `Ratatosk correct -v -c 90 -s short_reads.fastq -l long_reads.fastq -o out_long_reads` and it's been running for 6 days now on a computing server. We don't have multiple nodes on the server so I'm running it on single node mode but I wouldn't have expected it to run for thi

[2021-11-19 11:53] GuillaumeHolley commented on #35
Hi @Akazhiel,

Ratatosk's running time is mostly proportional to how many reads you want to correct, so basically coverage. It also depends on the complexity of the genome the reads are from: reads containing a lot of repeats are expected to take longer to correct. So without a genome size and coverage estimation, it is impossible for me to say how long this is gonna take. 80x of ONT reads for a 3

[2021-11-19 14:04] Akazhiel commented on #35
Hello,

Thanks for the quick reply. I also hope it's the 2nd round that is doing now although I'm not so sure. Our coverage on the long reads I believe is close to 30x, but the coverage of the short reads is unknown since it wasn't mapped and I couldn't find any data about it. The fastq is 254Gb compressed but that hardly tells us something. It is human data. I'd guess the run time is also affecte

[2021-11-19 14:50] GuillaumeHolley commented on #35
Well it's hard to say from a compressed FASTQ file but I think a rough estimate of 50x to 90x coverage (ballpark) seem reasonable here, nothing that Ratatosk cannot handle. As you said, more short reads there are and technically more time we spend on index construction and read correction. This is why internally, the short reads are downsampled anyway because even 50x would be too much data to add

[2021-11-19 14:53] Akazhiel commented on #35
The only output files I have for now are the `H2009_corrected.index.k63.fasta` which I'd assume is the index the program generates. Then I have `H2009_corrected.2.pids.1` and a couple minutes ago this other one popped up `H2009_corrected.2.pids.2` but is empty for now. Does this mean is just starting the 2nd round of correction?

[2021-11-19 15:15] GuillaumeHolley commented on #35
If those are the only output files you have, it means that you are still in the first round of correction. As a matter of fact, you are still constructing the index of the first round of correction so no correction has started yet. This is clearly not good and unusual and I would like to look into it, see what is the issue. For HG002, 60x short reads + 80x ONT, I think index construction is about

[2021-11-19 15:44] Akazhiel commented on #35
Hello, the current output log in the terminal is the following:
[code]

And the data was downloaded from the SRA. Here the [Nanopore](https://www.ncbi.nlm.nih.gov/sra/DRX248308[accn]) and here the [Illumina](https://www.ncbi.nlm.nih.gov/sra/DRX249889[accn]) reads.

Also as of now, it's been 4576 CPU hours.

[2021-11-19 16:28] GuillaumeHolley commented on #35
It seems I have underestimated the compression ratio in my previous coverage estimate (to be fair, I didn't know it was SRA compression either). From the output, I see that you have about 3.6 billion short reads which should be a 170x coverage data set. This is a **lot** of short reads so it comes to me at no surprise that the index construction takes such a long time. You even have a 31-mer in th

[2021-11-19 16:33] Akazhiel commented on #35
We are actually using this data because we are trying to predict SV from Nanopore data with base-pair resolution to predict putative neoantigens.

For your question, I am working on a cluster but since it hasn't been fully implemented yet I am running Ratatosk inside and interactive Docker container which means there is not a time limit. I'm only limited if my sysadmin needs to restart the server

[2021-11-19 16:44] GuillaumeHolley commented on #35
As of now, you just need to complete the 1st round of correction to not loose everything. The 1st round of correction should produce a file named `H2009_corrected.2.fastq` which are the reads corrected by the short reads. You already have the file named `H2009_corrected.index.k63.fasta` which is the graph for the second round of correction. Those 2 files are the only ones you need to build the ful

[2021-11-19 17:17] GuillaumeHolley commented on #35
Also make sure you have the latest Ratatosk version.

[2021-11-19 17:27] Akazhiel commented on #35
Yes, I will keep you updated on how it goes. And yes, the version I'm running was installed by cloning the git repo 6 days ago right before running it.

[2021-11-22 11:04] Akazhiel commented on #35
Hi @GuillaumeHolley,

Quick update on how it is going. It has almost generated the `H2009_corrected.2.fastq` file, it's at 87Gb now so it should finish this step today hopefully and then will only remain the 2nd correction step.

[2021-11-22 11:14] GuillaumeHolley commented on #35
Good to know it is still running and progressing. You have about 11 millions ONT reads to correct so by having a look at the Ratatosk's log or by counting the number of lines in `H2009_corrected.2.fastq` (divided by 4), you can see how much Ratatosk has done.

[2021-11-25 09:09] Akazhiel commented on #35
Hello!

I believe it finished completely since this is the last that was printed to the terminal:

[code]

And I also have a file called `H2009_corrected.fastq`

[2021-11-26 10:15] GuillaumeHolley commented on #35
Hi @Akazhiel,

Glad to know you could complete the run. I'll then close the issue. Don't hesitate to reach out if you have more questions.

Guillaume

[2021-11-26 10:15] #35 closed

[2021-12-18 01:21] kgun12 opened #36 "Ratatosk::correct(): Corrected read file is not in the same order as input long read file. Abort."
Hi - I'm using ratatosk 0.7.5 to correct nanopore long reads with some Illumina MiSeq data. Things seem to run fine for a few hours, and then terminates on the 2nd pass with

FileParser::FileParser(): Missing input files
Ratatosk::correct(): Corrected read file is not in the same order as input long read file. Abort.

A 6.2G {prefix}.2.fastq file is created as output
A {prefix}.fastq file is creat

[2021-12-18 02:33] kgun12 commented on #36
Update: looks like the problem here was that I sent the output to a subdirectory i.e., -o OUTPUT/output that may not have been properly parsed at the outset of the 2nd pass.  I copied the output.2.fastq file to cwd, restarted from pass 2 with -L and it seems to have finished.

[2021-12-20 14:23] GuillaumeHolley commented on #36
Hi @kgun12,

Thanks for notifying me of the issue, it has been fixed in the latest commit I believe if you want to try it. I am on holidays at the moment so I did the very bad thing of pushing a quick fix I haven't even tried directly to production. I like to live dangerously.
The issue at hand was that by default, the `-L` parameter should be the same as `-l` for the single command usage but it w

[2021-12-20 14:23] #36 closed

[2021-12-20 14:37] hbeale opened #37 "-i or -s?"
There’s a discrepancy in the first command line example and explanatory paragraph.

Paragraph is:
Ratatosk corrects (Ratatosk correct) the long read file (-l in_long_reads.fastq) with 16 threads (-c 16) using an index built from the short read file (-i short_reads.fastq).

but example command uses -s short_reads.fastq

really looking forward to trying Ratatosk out!

[2022-01-03 14:35] GuillaumeHolley commented on #37
Hi @hbeale,

Thank you for noticing this issue, I have just updated the README with the right option (`-s` and not `-i`).

Guillaume

[2022-01-03 14:35] #37 closed

[2022-01-03 14:37] GuillaumeHolley commented on #26
Just as a side note, I am now providing a script in `scripts/replaceIUPAC.py` to replace these characters by random {A,C,G,T} characters.

[2022-01-10 09:08] Akazhiel opened #38 "Index generation"
Hello!

I'm trying to run the latest version using the four steps method, but when running the first index step, it writes to disk an index file with the name `H2009BL_corrected.index.k63.fasta`. Is this the expected behaviour? I was expecting to have a k31 index file when runnning the first index step with the `Ratatosk index -1` call.

Cheers,

Jonatan

[2022-01-10 12:52] GuillaumeHolley commented on #38
Hi @Akazhiel,

Normally, `Ratatosk index -1` should create first a file named `H2009BL_corrected.index.k63.fasta` and then later 2 files named `H2009BL_corrected.index.k31.fasta` and `H2009BL_corrected.index.k31.rtsk`. If the command has completed but those 2 later files are missing, this is not normal behavior indeed. Can you confirm the command has completed without errors and the two files are

[2022-01-10 13:34] Akazhiel commented on #38
Hello.

It hasn't finished yet, but I was just wondering why it created first the k63 file since the first index is going to be the k31.

Thanks for the quick reply!

[2022-01-10 13:49] GuillaumeHolley commented on #38
No problem.

Ratatosk is a 2-pass correction algorithm: first pass uses a graph with a small k-mer size (k1=31) and second pass uses a large k-mer size (k2=63). For the first pass (k1=31), since it is a small k-mer size, we would want to clean the graph after constructing it. In particular, we would want to clip short tips (unitigs less than 2k bp long that have no successors or predecessors in th

[2022-01-10 15:45] Akazhiel commented on #38
Great, thanks for the useful explanation!

I also have another question if that is okay. If I want to perform multiple corrections, in which step would I have to indicate it? Or do I have to rerun everything on the corrected data? Also, do you recommend performing multiple correction rounds?

[2022-01-10 16:02] Akazhiel commented on #38
Yes, I thought there was an option for performing multiple rounds of corrections but maybe I'm confusing it with another software.

[2022-01-10 16:11] GuillaumeHolley commented on #38
No you are right, there was an experimental option which was present in previous versions of Ratatosk to run multiple rounds of correction for each read. The idea was to correct first regions of high confidence and steadily progress down such that regions of low confidence would be corrected last but would benefit from the previously corrected regions. Anyway, on the new version of Ratatosk, the g

[2022-01-10 19:38] Akazhiel commented on #38
Thanks for the clarification, and for taking your time to explain everything in details. I'll go ahead and close the issue since my doubts have been cleared.

Thank you very much,
Jonatan

[2022-01-10 19:38] #38 closed

[2022-07-24 09:42] tolarnik opened #39 "Can you run "correct -2" phase without "correct -1"?"
Hello, I am using Ratatosk on quite a large dataset. I used simply "correct" without the two-part command system. However, I might run out of resources and I was wondering if it would be possible to run "correct -2" since I believe that the first part of the program is finished.

Do I understand correctly that by running only correct, the program runs "correct -1" and then "correct -2" on its own

[2022-07-25 18:29] #39 closed

[2022-07-29 10:43] GuillaumeHolley commented on #39
Hi @tolarnik,

Thank you for reaching out. The issue was closed so either you figured out the answer or you run actually finished but it is a good question so I am going to reply in case anyone passes through this thread :)

Your understanding is correct: you can run `correct -2` without `correct -1` by following the [two commands guidelines](https://github.com/DecodeGenetics/Ratatosk#single-compu

[2022-07-29 10:50] tolarnik commented on #39
Hello,

thank you very much for your answer!

Yes, I managed to finish the run in time and so I closed the issue. But thank you nonetheless for your answer! It will be very valuable for me to know this in the future :)

Have a great day,
Nik

[2022-10-02 11:45] asan-emirsaleh opened #40 "Can I split stage 1 indexing onto subsequent jobs?"
Thank you for really amazing tool.

I have faced with some errors when I tried to use Ratatosk. Generally it was a time or memory limit errors. Execution have been stopped on the indexing stage 1, after a days of computation. As I saw at #35, such behavior is not a norm, and some errors may be incorporated in my pipeline. So I need a way to split indexing stage onto separate jobs for achieved inte

[2022-10-04 09:26] GuillaumeHolley commented on #40
Hi @asan-emirsaleh,

Wow, 12 days running time is indeed abnormal and there is clearly an issue here. In general, indexing is the most time and memory consuming step of Ratatosk and it is the only step that cannot be split between jobs. I would say that the issue in https://github.com/DecodeGenetics/Ratatosk/issues/35 is unrelated to yours since the problem there was that a very high coverage of s

[2022-10-06 03:36] asan-emirsaleh commented on #40
Hi @GuillaumeHolley
Yes you are right. The issue seems be related to thread allocation. Normally I define threads directly in script and SLURM count how many threads I request by analyzing the script code. So I reran the script with direct allocation of CPU threads
[code]
the `sacct` output were different but computation appeared to be long too
[code]
[code]
So I am still waiting for job to comple

[2022-10-06 10:28] GuillaumeHolley commented on #40
Hi @asan-emirsaleh,

Glad to hear there is a little bit of progress here. As I said before, the indexing stage is the only step of Ratatosk that cannot be split. There is currently no way of doing it. I am not saying it is impossible to implement but it would require some heavy work and unfortunately, I just do not have this kind of time available right now.

That being said, I think it is still v

[2022-10-10 17:49] asan-emirsaleh commented on #40
Hello @GuillaumeHolley,
There is unusual situation in the Ratatosk execution.
Six days spend, and there are no results yet. The `sacct` output is
[code]
I have been saved the tail of Ratatosk output logs every 10 minutes, and also monitored the filesizes in the output dir. Then I have noted the processed reads count increases in jump-like manner but the filesize increases linearly. You can see it

[2022-10-12 13:42] GuillaumeHolley commented on #40
Hi @asan-emirsaleh,

At the stage of the indexing where you seem to be stuck, what Ratatosk does is a basic mapping of the short reads to the graph. Keeping the mapping information in RAM can be too heavy so in order to not use too much RAM, every 4GB of input short read processed, Ratatosk writes the mapping information to disk, clear these from the RAM and process the next 4GB. Processing short

[2022-10-13 01:18] Catherine9826 opened #41 "#Couldn't remove temporary file#"
Thank you for the amazing tool. I met a problem when I used Ratatosk.
   This is my command: Ratatosk correct -v -c 16 -s transcripts.stringtie.fa -l Tam.transcripts.fa -o out_long_reads
   I got the file ‘out_long_reads‘, but it said 'Couldn't remove temporary file' .Does it matter?

[2022-10-13 09:58] GuillaumeHolley commented on #41
Hi @Catherine9826,

Thanks for reporting this issue. It does not matter for your output, it is just a warning about whether temporary data written by Ratatosk to disk but not needed anymore were successfully removed. Turns out I programmed this incorrectly and the warning message is printed if the data are successfully removed from disk :) Either way, output data is not affected by this.

I'll kee

[2022-10-19 17:10] rwhetten opened #42 "questions re index construction & insert size"
Thanks for a great tool! I have two questions to try to optimize my use of Ratatosk.
1. For the insert size, how sensitive is the error-correction process to deviation from the default 500-bp insert size? In other words, if median insert size is 450 bp, is it useful to change that parameter? If inserts are greatly different from 500 bp (e.g. 250 bp), does setting the correct insert size using -i i

[2022-10-19 17:42] GuillaumeHolley commented on #42
Hi @rwhetten,

- You can deviate a little bit from the default value of that parameter, ideally using 1/ the exact median value, 2/ a value greater or 3/ a value lower (in that order of preference). The difference between 2/ and 3/ is that by using 2/, Ratatosk might pick up a little bit too much "signal" which I think in general is better than not enough.
In your case, median insert is 450 bp and

[2022-10-19 18:05] rwhetten commented on #42
Yes, that is perfect - thank you for the quick reply! I'll close the issue.

[2022-10-19 18:05] #42 closed

[2022-10-20 14:59] GuillaumeHolley commented on #40
Hi @asan-emirsaleh,

Did you have a chance to look at the eventual IO wait issue?

Thanks,
Guillaume

[2022-10-22 04:05] asan-emirsaleh commented on #40
Hi @GuillaumeHolley
Yes you are right. There was an IO issue in the compute cluster. After the storage subsystem has been repared by admin the Ratatosk processed well.
[code]

[code]

[code]

[code]

[code]

I had a lot of RAM available but faced with disk IO issue. If I had an option to keep data in RAM until complete IO would not be delayed so much. May customizing of IO be a good idea for futur

[2022-10-22 04:07] #40 closed

[2022-10-22 04:13] asan-emirsaleh opened #43 "Can I reuse the existing indexes in correction of another long reads?"
Hi @GuillaumeHolley
I have corrected LongReads1 with PE_reads1. Can use .index.k31.* and .index.k63.* files for correction of another set of reads (LongReads2)? Is there another way to reuse existing files?

Best regards
Asan

[2022-10-24 09:32] GuillaumeHolley commented on #43
Hi @asan-emirsaleh,

In short, you can use the files with suffix `.1.index.k31.*` to correct LongReads2 but you cannot use the files with suffix `.2.index.k31.*`. Indeed you will have to reconstruct the latter for each long read set you want to correct. Keep in mind that it is much faster to build the second index than the first one so it is not really a bottleneck.

In detail, the files with suff

[2022-10-24 09:32] #43 closed

[2022-10-27 16:28] asan-emirsaleh commented on #43
Thank you for explanation. It was helpful for me.

Best regards
Asan

[2022-11-08 14:08] loraine-gueguen commented on #27
Hi,
I have started a Bioconda recipe for Ratatosk: https://github.com/bioconda/bioconda-recipes/pull/37864 (Feel free to participate!)
However, it fails on build with:
`CMake Error: The source directory "/opt/conda/conda-bld/ratatosk_1667903456105/work/Bifrost/build/DENABLE_AVX2=OFF" does not exist.`
Shouldn't the `DENABLE_AVX2=OFF` option be preceded with `-` in the following line ?
https://githu

[2022-11-10 10:10] #27 closed

[2022-11-10 10:25] loraine-gueguen opened #45 "Remove bifrost from code and add it as a requirement"
Hello!
Do you think that it would it be possible to remove bifrost from the code (and from build) and add it as a requirement ? Using the bioconda package maybe ? (https://bioconda.github.io/recipes/bifrost/README.html)
It would be a "best practice" for conda packaging,  in particular. See https://github.com/bioconda/bioconda-recipes/pull/37864
Regards,
Loraine

[2022-11-11 09:18] GuillaumeHolley commented on #45
Hi @loraine-gueguen

Thank you for your work on the conda recipe, I really appreciate it. I see one major problem to removing Bifrost as a submodule from this repository and from the installation: Bifrost's bioconda package is compiled for k<32 while Ratatosk needs Bifrost to enable k<64. It would also become an issue to have Bifrost as a requirement in the source install: it happens that some use

[2022-11-16 07:21] kangxiongbin opened #46 "/usr/local/bin/Ratatosk Permission denied"
Dear someone,
I don't have roof permission, how to install ratatosk?

 make install
[ 44%] Built target bifrost_lib
[100%] Built target Ratatosk
Install the project...
-- Install configuration: "Release"
-- Installing: /usr/local/bin/Ratatosk
CMake Error at src/cmake_install.cmake:52 (file):
  file INSTALL cannot copy file
  "/prj/hybrid-assembly/kang/software/ratatosk2/Ratatosk/build/src/Ratatosk

[2022-11-16 10:19] GuillaumeHolley commented on #46
Dear @kangxiongbin,

As mentioned in the README, if you do not have root permissions, you must install Ratatosk in a directory where you know you do not need root permissions:
[code]
where `/some/path/` is a directory you own which does not require sudo permission. Once you are done with these steps, make sure you add `/some/path/` to your path (`export PATH=$PATH:/some/path/`), otherwise your sys

[2022-11-16 20:54] kangxiongbin commented on #46
Thank you very much!

[2022-11-16 21:11] #46 closed

[2022-11-21 14:30] loraine-gueguen commented on #45
ok, thanks for the explanation: the cloning and build steps for bifrost have been kept in the conda recipe.

The PR has been merged and Ratatosk is now available as a bioconda package!